# activer la regle de reecriture d'url
RewriteEngine On
# rediriger vers le fichier sans l'extention
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]
# on verifie si la requete correspond a un repertoire
RewriteCond %{REQUEST_FILENAME} !-d
# on verifie si la requete correspond a un fichier
RewriteCond %{REQUEST_FILENAME} !-f

# rediriger vers le fichier index
RewriteRule ^(.*)$ accueil.php?q=$1 [L]